source 'https://rubygems.org'

gem 'rake'
gem 'grapevine'

<% unless withdb.empty? %>
gem '<%= withdb %>'

<% if withdb == 'activerecord' %>
gem 'activerecord', '~> 3.2.12'
gem 'standalone_migrations', '~> 2.0.5'

<% elsif withdb == 'sequel' %>
gem 'sequel'
<% end %>
<% end %>

group :test do
  gem 'rspec'
  gem 'rack-test'
end

group :test, :development do
  gem 'dotenv'
  gem 'thin'
  gem 'debugger'
end
