source 'https://rubygems.org'

ruby '2.1.0'

gem 'rake'
gem 'grapevine'

<% unless withdb.empty? %>
gem '<%= withdb %>'

<% if withdb == 'activerecord' %>
gem 'activerecord', '~> 4.1.1'
gem 'standalone_migrations', '~> 2.1.4'

<% elsif withdb == 'sequel' %>
gem 'sequel'
<% end %>
<% end %>

group :test do
  gem 'rspec'
  gem 'rack-test'
end

group :test, :development do
  gem 'dotenv'
  gem 'thin'
  gem 'byebug'
end
