class DbConfig

  def self.connect

    if ENV["<%= app_name.camelize.upcase %>"] == 'test'
      ENV['DATABASE'] = "#{ENV['DATABASE']}_test"
    end

    ActiveRecord::Base.establish_connection(
     {
        adapter: ENV['ADAPTER'],
        host: ENV['HOST'],
        port: ENV['PORT'],
        database: ENV['DATABASE'],
        username: ENV['USERNAME'],
        password: ENV['PASSWORD'],
        encoding: 'utf8'
      } 
    )
  end
end
