# Database access
HOST=<host>
PORT=<port>
DATABASE=<database_name>
<% if dbms == 'pg' %>
ADAPTER=postgresql
<% elsif dbms == 'mysql2' %>
ADAPTER=mysql2
SOCKET=<socket>
<% end %>
USERNAME=<username>
PASSWORD=<password>
