# Database access
HOST=<host>
PORT=<port>
DATABASE=<database_name>

<% if dbms == 'pg' %>

<% if withdb == 'activerecord' %>

ADAPTER=postgresql
<% elsif withdb == 'sequel' %>

ADAPTER=postgres
<% end %>
<% elsif dbms == 'mysql2' %>

ADAPTER=mysql2
SOCKET=<socket>
<% end %>

USERNAME=<username>
PASSWORD=<password>
